<div class="column is-one-quarter">
    <div class="card is-variable">
        <div class="card-content">
            <h1><%= customer.full_name %></h1>
            <h3><%= customer.phone_number %></h3>
            <% if customer.image.present? %>
            <div class="card-image">
                <figure class="image is-60x60">
                    <%= image_tag customer.image %>
                </figure>
            </div>
            <% else %>
                <h1> No image </h1>
            <% end %>
        </div>
    </div>
</div>